In [2]:
# Here We Will Import the Most Important Libraries WE Will Need 
from bs4 import BeautifulSoup # For We Scrapping  
import requests # For Scrapping the HTML 
import numpy as np  # For Np Arrays
import pandas as pd # For Data Frames

In [3]:
# Data Scarapping And Preperation 
# Description  
# we Follow The Stpes : 
# Step 1 : WE Get the Data From the Link using Beautiful Soap to handle the HTML file  then add the content of the needed Table
# Contain the top 50 solar flares to pandas data frame and then rename the columns of the data frame 

# step 2 : we preprocessing the data frame as we drop the column called movie then we combine the date with each time (start,
# end, max) , then we shift the region column to be the last one 

# step 3: we Get the Data From Nasa Link but as the HTML Does not Contain Table Tags (Like in Step 1) we Make It As List of 
# Strings And then we Split each one and get  the columns of pandas Data Frame 

# Step 4: we Preprocess the data frame nasa_frame we get in (step 3) as that : we combine the date and time of (start, end,
# and CME ), then we make two new columns ,  first one is  is_halo to check if the CPA is Halo or not(True Or False) Then if 
# True Make the cell in The Column CPA with Nan 
# the Seocnd Column is_lower_bound to check if the width is >num (has lower bound sign) if (true) we get rid of the sign

In [4]:
# Step 1  Scrap Competetors Data 

# Get the URL Using Requests  
req = requests.get('https://www.spaceweatherlive.com/en/solar-activity/top-50-solar-flares') 
# Get the Content Form The Web Page  
html_content = req.content 

# use BeautifulSoup to read And Parse the data (we will parse as html not lxml) 
# HTML Consists of Tags To Get The data  with simple Way 
soup = BeautifulSoup(html_content, 'html.parser')  

# Get The HTML In Clear View To Extract The Data we need 
Clear_Html = soup.prettify() 
# print(Clear_Html) 
# Now We Will Use Find The get the data We Need  (We Need The Table With the Top 50 Solar  flares )  
# Get the Table Content Using The Value Of the Attribute (Class) 

table = soup.find("table", attrs={"class":"table table-striped table-responsive-md"})   
# print(table) 

# This Table Contain All The Data We Need 
# Now We will Use Pandas To Get It In the Shape Of Data frame with Rows and Colums  

df = pd.read_html(str(table))[0] # The first Inedx As It always returns List and we want a data frame  

# See The Names Of The Columns 
# print(df.columns)
# Rename the Coluns Of Our Data Frame  with new Names "rank", "x_class", "date", "region", 
# "start_time", "max_time", "end_time", "movie" 
df.rename(columns={'Unnamed: 0': 'rank','Unnamed: 1': 'x_class','Unnamed: 2': 'date',
                  'Region': 'region','Start': 'start_time','Maximum': 'max_time'
                  , 'End':'end_time', 'Unnamed: 7':'movie'}, inplace=True)
print(df)

    rank x_class        date  region start_time max_time end_time  \
0      1    X28+  2003/11/04     486      19:29    19:53    20:06
1      2    X20+  2001/04/02    9393      21:32    21:51    22:03
2      3  X17.2+  2003/10/28     486      09:51    11:10    11:24
3      4    X17+  2005/09/07     808      17:17    17:40    18:03
4      5   X14.4  2001/04/15    9415      13:19    13:50    13:55
5      6     X10  2003/10/29     486      20:37    20:49    21:01
6      7    X9.4  1997/11/06    8100      11:49    11:55    12:01
7      8    X9.3  2017/09/06    2673      11:53    12:02    12:10
8      9      X9  2006/12/05     930      10:18    10:35    10:45
9     10    X8.3  2003/11/02     486      17:03    17:25    17:39
10    11    X8.2  2017/09/10    2673      15:35    16:06    16:31
11    12    X7.1  2005/01/20     720      06:36    07:01    07:26
12    13    X6.9  2011/08/09    1263      07:48    08:05    08:08
13    14    X6.5  2006/12/06     930      18:29    18:47    19:00
14    15    X6.2  2005/09/09     808      19:13    20:04    20:36
15    16    X6.2  2001/12/13    9733      14:20    14:30    14:35
16    17    X5.7  2000/07/14    9077      10:03    10:24    10:43
17    18    X5.6  2001/04/06    9415      19:10    19:21    19:31
18    19    X5.4  2012/03/07    1429      00:02    00:24    00:40
19    20    X5.4  2005/09/08     808      20:52    21:06    21:17
20    21    X5.4  2003/10/23     486      08:19    08:35    08:49
21    22    X5.3  2001/08/25    9591      16:23    16:45    17:04
22    23    X4.9  2014/02/25    1990      00:39    00:49    01:03
23    24    X4.9  1998/08/18    8307      22:10    22:19    22:28
24    25    X4.8  2002/07/23      39      00:18    00:35    00:47
25    26      X4  2000/11/26    9236      16:34    16:48    16:56
26    27    X3.9  2003/11/03     488      09:43    09:55    10:19
27    28    X3.9  1998/08/19    8307      21:35    21:45    21:50
28    29    X3.8  2005/01/17     720      06:59    09:52    10:07
29    30    X3.7  1998/11/22    8384      06:30    06:42    06:49
30    31    X3.6  2005/09/09     808      09:42    09:59    10:08
31    32    X3.6  2004/07/16     649      13:49    13:55    14:01
32    33    X3.6  2003/05/28     365      00:17    00:27    00:39
33    34    X3.4  2006/12/13     930      02:14    02:40    02:57
34    35    X3.4  2001/12/28    9767      20:02    20:45    21:32
35    36    X3.3  2013/11/05    1890      22:07    22:12    22:15
36    37    X3.3  2002/07/20      39      21:04    21:30    21:54
37    38    X3.3  1998/11/28    8395      04:54    05:52    06:13
38    39    X3.2  2013/05/14    1748      00:00    01:11    01:20
39    40    X3.1  2014/10/24    2192      21:07    21:41    22:13
40    41    X3.1  2002/08/24      69      00:49    01:12    01:31
41    42      X3  2002/07/15      30      19:59    20:08    20:14
42    43    X2.8  2013/05/13    1748      15:48    16:05    16:16
43    44    X2.8  2001/12/11    9733      07:58    08:08    08:14
44    45    X2.8  1998/08/18    8307      08:14    08:24    08:32
45    46    X2.7  2015/05/05    2339      22:05    22:11    22:15
46    47    X2.7  2003/11/03     488      01:09    01:30    01:45
47    48    X2.7  1998/05/06    8210      07:58    08:09    08:20
48    49    X2.6  2005/01/15     720      22:25    23:02    23:31
49    50    X2.6  2001/09/24    9632      09:32    10:38    11:09

                movie
0   MovieView archive
1   MovieView archive
2   MovieView archive
3   MovieView archive
4   MovieView archive
5   MovieView archive
6   MovieView archive
7   MovieView archive
8   MovieView archive
9   MovieView archive
10  MovieView archive
11  MovieView archive
12  MovieView archive
13  MovieView archive
14  MovieView archive
15  MovieView archive
16  MovieView archive
17  MovieView archive
18  MovieView archive
19  MovieView archive
20  MovieView archive
21  MovieView archive
22  MovieView archive
23       View archive
24  MovieView archive
25  MovieView archive
26  MovieView archive
27       View archive
28  MovieView archive
29  MovieView archive
30  MovieView archive
31  MovieView archive
32  MovieView archive
33  MovieView archive
34  MovieView archive
35  MovieView archive
36  MovieView archive
37  MovieView archive
38  MovieView archive
39  MovieView archive
40  MovieView archive
41  MovieView archive
42  MovieView archive
43  MovieView archive
44       View archive
45  MovieView archive
46  MovieView archive
47  MovieView archive
48  MovieView archive
49  MovieView archive

In [7]:
# Step 2  Tidy  the top 50 solar flare data  
# First Dtop the Last Column in Our data Frame 
new_df = df.drop(['movie'], axis=1)  
# Now WE Will use Date Time Library 
from datetime import * 
# We Will Combine the date With time Of Start , max , end and replace it in the new data frame  



# Next : Combine Each One With the Col_date and Replace it in the Date Frame with replace
# The function iterrows get each row in Data frame With All Columns data 
for i in range(len(new_df["date"])): 
    # the index of the date is :2 
    # Start_time index is : 4
    # Max_time index is : 5
    # End_time index is : 6 
    # get value of_date 
    date_value = str(new_df.iat[i, 2])
    # update the value of each one using iat 
    # start_time
    new_df.iat[i, 4] = pd.to_datetime(date_value + "-" + str(new_df.iat[i, 4]))
    # max_time
    new_df.iat[i, 5] = pd.to_datetime(date_value + "-" + str(new_df.iat[i, 5]))
    # end_time
    new_df.iat[i, 6] = pd.to_datetime(date_value + "-" + str(new_df.iat[i, 6])) 

# print(new_df) # Just For Test  
# Next We Need To Replace The - In regionins Columns With NaN vlaue as string 
# No Regions Are Missing In This data frame  

# Shift the region to the end column 
new_df = new_df[[c for c in new_df if c not in ["region"]] + ["region"]]
print(new_df)

    rank x_class        date           start_time             max_time  \
0      1    X28+  2003/11/04  2003-11-04 19:29:00  2003-11-04 19:53:00
1      2    X20+  2001/04/02  2001-04-02 21:32:00  2001-04-02 21:51:00
2      3  X17.2+  2003/10/28  2003-10-28 09:51:00  2003-10-28 11:10:00
3      4    X17+  2005/09/07  2005-09-07 17:17:00  2005-09-07 17:40:00
4      5   X14.4  2001/04/15  2001-04-15 13:19:00  2001-04-15 13:50:00
5      6     X10  2003/10/29  2003-10-29 20:37:00  2003-10-29 20:49:00
6      7    X9.4  1997/11/06  1997-11-06 11:49:00  1997-11-06 11:55:00
7      8    X9.3  2017/09/06  2017-09-06 11:53:00  2017-09-06 12:02:00
8      9      X9  2006/12/05  2006-12-05 10:18:00  2006-12-05 10:35:00
9     10    X8.3  2003/11/02  2003-11-02 17:03:00  2003-11-02 17:25:00
10    11    X8.2  2017/09/10  2017-09-10 15:35:00  2017-09-10 16:06:00
11    12    X7.1  2005/01/20  2005-01-20 06:36:00  2005-01-20 07:01:00
12    13    X6.9  2011/08/09  2011-08-09 07:48:00  2011-08-09 08:05:00
13    14    X6.5  2006/12/06  2006-12-06 18:29:00  2006-12-06 18:47:00
14    15    X6.2  2005/09/09  2005-09-09 19:13:00  2005-09-09 20:04:00
15    16    X6.2  2001/12/13  2001-12-13 14:20:00  2001-12-13 14:30:00
16    17    X5.7  2000/07/14  2000-07-14 10:03:00  2000-07-14 10:24:00
17    18    X5.6  2001/04/06  2001-04-06 19:10:00  2001-04-06 19:21:00
18    19    X5.4  2012/03/07  2012-03-07 00:02:00  2012-03-07 00:24:00
19    20    X5.4  2005/09/08  2005-09-08 20:52:00  2005-09-08 21:06:00
20    21    X5.4  2003/10/23  2003-10-23 08:19:00  2003-10-23 08:35:00
21    22    X5.3  2001/08/25  2001-08-25 16:23:00  2001-08-25 16:45:00
22    23    X4.9  2014/02/25  2014-02-25 00:39:00  2014-02-25 00:49:00
23    24    X4.9  1998/08/18  1998-08-18 22:10:00  1998-08-18 22:19:00
24    25    X4.8  2002/07/23  2002-07-23 00:18:00  2002-07-23 00:35:00
25    26      X4  2000/11/26  2000-11-26 16:34:00  2000-11-26 16:48:00
26    27    X3.9  2003/11/03  2003-11-03 09:43:00  2003-11-03 09:55:00
27    28    X3.9  1998/08/19  1998-08-19 21:35:00  1998-08-19 21:45:00
28    29    X3.8  2005/01/17  2005-01-17 06:59:00  2005-01-17 09:52:00
29    30    X3.7  1998/11/22  1998-11-22 06:30:00  1998-11-22 06:42:00
30    31    X3.6  2005/09/09  2005-09-09 09:42:00  2005-09-09 09:59:00
31    32    X3.6  2004/07/16  2004-07-16 13:49:00  2004-07-16 13:55:00
32    33    X3.6  2003/05/28  2003-05-28 00:17:00  2003-05-28 00:27:00
33    34    X3.4  2006/12/13  2006-12-13 02:14:00  2006-12-13 02:40:00
34    35    X3.4  2001/12/28  2001-12-28 20:02:00  2001-12-28 20:45:00
35    36    X3.3  2013/11/05  2013-11-05 22:07:00  2013-11-05 22:12:00
36    37    X3.3  2002/07/20  2002-07-20 21:04:00  2002-07-20 21:30:00
37    38    X3.3  1998/11/28  1998-11-28 04:54:00  1998-11-28 05:52:00
38    39    X3.2  2013/05/14  2013-05-14 00:00:00  2013-05-14 01:11:00
39    40    X3.1  2014/10/24  2014-10-24 21:07:00  2014-10-24 21:41:00
40    41    X3.1  2002/08/24  2002-08-24 00:49:00  2002-08-24 01:12:00
41    42      X3  2002/07/15  2002-07-15 19:59:00  2002-07-15 20:08:00
42    43    X2.8  2013/05/13  2013-05-13 15:48:00  2013-05-13 16:05:00
43    44    X2.8  2001/12/11  2001-12-11 07:58:00  2001-12-11 08:08:00
44    45    X2.8  1998/08/18  1998-08-18 08:14:00  1998-08-18 08:24:00
45    46    X2.7  2015/05/05  2015-05-05 22:05:00  2015-05-05 22:11:00
46    47    X2.7  2003/11/03  2003-11-03 01:09:00  2003-11-03 01:30:00
47    48    X2.7  1998/05/06  1998-05-06 07:58:00  1998-05-06 08:09:00
48    49    X2.6  2005/01/15  2005-01-15 22:25:00  2005-01-15 23:02:00
49    50    X2.6  2001/09/24  2001-09-24 09:32:00  2001-09-24 10:38:00

               end_time  region
0   2003-11-04 20:06:00     486
1   2001-04-02 22:03:00    9393
2   2003-10-28 11:24:00     486
3   2005-09-07 18:03:00     808
4   2001-04-15 13:55:00    9415
5   2003-10-29 21:01:00     486
6   1997-11-06 12:01:00    8100
7   2017-09-06 12:10:00    2673
8   2006-12-05 10:45:00     930
9   2003-11-02 17:39:00     486
10  2017-09-10 16:31:00    2673
11  2005-01-20 07:26:00     720
12  2011-08-09 08:08:00    1263
13  2006-12-06 19:00:00     930
14  2005-09-09 20:36:00     808
15  2001-12-13 14:35:00    9733
16  2000-07-14 10:43:00    9077
17  2001-04-06 19:31:00    9415
18  2012-03-07 00:40:00    1429
19  2005-09-08 21:17:00     808
20  2003-10-23 08:49:00     486
21  2001-08-25 17:04:00    9591
22  2014-02-25 01:03:00    1990
23  1998-08-18 22:28:00    8307
24  2002-07-23 00:47:00      39
25  2000-11-26 16:56:00    9236
26  2003-11-03 10:19:00     488
27  1998-08-19 21:50:00    8307
28  2005-01-17 10:07:00     720
29  1998-11-22 06:49:00    8384
30  2005-09-09 10:08:00     808
31  2004-07-16 14:01:00     649
32  2003-05-28 00:39:00     365
33  2006-12-13 02:57:00     930
34  2001-12-28 21:32:00    9767
35  2013-11-05 22:15:00    1890
36  2002-07-20 21:54:00      39
37  1998-11-28 06:13:00    8395
38  2013-05-14 01:20:00    1748
39  2014-10-24 22:13:00    2192
40  2002-08-24 01:31:00      69
41  2002-07-15 20:14:00      30
42  2013-05-13 16:16:00    1748
43  2001-12-11 08:14:00    9733
44  1998-08-18 08:32:00    8307
45  2015-05-05 22:15:00    2339
46  2003-11-03 01:45:00     488
47  1998-05-06 08:20:00    8210
48  2005-01-15 23:31:00     720
49  2001-09-24 11:09:00    9632

In [66]:
# Step 3  Scrape the NASA data  
# Get the URL Using Requests  
req = requests.get('https://cdaw.gsfc.nasa.gov/CME_list/radio/waves_type2.html') 
# Get the Content Form The Web Page  
html_content = req.content 
# make the beautiful soap to Handle the HTML File 
soup = BeautifulSoup(html_content, 'html.parser')   
# print(soup.text)
# If We Split the Text at \n so we will get a list  Contains Each Row Of The Table in HTML File we need  
list_html = soup.text.split('\n') 
# we need only to konw the begin of the Data We need So This Code To Get the index 
#idx = 0
#for i in list_html:
    #if i == "1997/04/01 14:00 04/01 14:15  8000  4000   S25E16  8026 M1.3   04/01 15:18   74   79  312   PHTX":
        #print("yes") 
        #break
    #idx += 1
#print(idx) 
# This index is 15  
# Now We Will Loop on each Item from 15 to the end and each item split it and add to the data frame that we will make  
#for i in range(15, len(list_html - 3)): # -1 as the Last Item Contains No data To add It 
    #print(list_html[i]) 

# Make Data Frame With the Name Of The columns (Start_Date, Start_Time, End_Date, End_Time, Start_Frequency, End_Frequency
#, Flare_Location, Flare_Region, Importance, CME_Date, CME_Time, CPA) 
nasa_frame = pd.DataFrame(columns=['Start_Date','Start_Time','End_Date','End_Time','Start_Frequency','End_Frequency',
                                   'Flare_Location', 'Flare_Region', 'Importance', 'CME_Date', 'CME_Time'
                                , 'CPA', "Width", "Speed", "Plots"]) 
# loop on the content of htl Table
counter_row = -1
for i in range(15, len(list_html) - 3): 
    # Get Each Item and split it to get each one (saperable at space " ") 
    data_list = list_html[i].split(" ")  
    # print(data_list)
    # get the Exact Data We need With out Space (To Get the data Correctly)  
    exact_data = []  
    counter_col = 0 # counter Of The Data Needed 
    for i in range(len(data_list)):
        if data_list[i] == "":
            continue
        exact_data.append(data_list[i])
        counter_col += 1
    # Get nuber of years to add it to the end_date and the CME_date in nasa frame  from the start date (index[0])
    years = (exact_data[0].split("/"))[0]
    # Now We Have The Data Append It To the Data Frame  
    nasa_frame = nasa_frame.append({'Start_Date': str(exact_data[0]), 'Start_Time': str(exact_data[1]),
                                    'End_Date': years+"/"+str(exact_data[2]), 'End_Time': str(exact_data[3]), 
                                    'Start_Frequency': str(exact_data[4]), 'End_Frequency': str(exact_data[5])
                                   , 'Flare_Location': str(exact_data[6]),'Flare_Region': str(exact_data[7]),
                                   'Importance': str(exact_data[8]), 'CME_Date': years+"/"+str(exact_data[9]), 
                                   'CME_Time': str(exact_data[10]), 'CPA': str(exact_data[11]), 
                                   'Width': str(exact_data[12]), 'Speed': str(exact_data[13]), 
                                   'Plots': str(exact_data[14])}, 
                                   ignore_index=True)
print(nasa_frame) # we Now Have The Data We Need

     Start_Date Start_Time    End_Date End_Time Start_Frequency End_Frequency  \
0    1997/04/01      14:00  1997/04/01    14:15            8000          4000
1    1997/04/07      14:30  1997/04/07    17:30           11000          1000
2    1997/05/12      05:15  1997/05/14    16:00           12000            80
3    1997/05/21      20:20  1997/05/21    22:00            5000           500
4    1997/09/23      21:53  1997/09/23    22:16            6000          2000
5    1997/11/03      05:15  1997/11/03    12:00           14000           250
6    1997/11/03      10:30  1997/11/03    11:30           14000          5000
7    1997/11/04      06:00  1997/11/05    04:30           14000           100
8    1997/11/06      12:20  1997/11/07    08:30           14000           100
9    1997/11/27      13:30  1997/11/27    14:00           14000          7000
10   1997/12/12      22:45  1997/12/12    23:20           14000          8000
11   1998/01/25      15:03  1998/01/25    15:18           14000         10000
12   1998/03/29      03:40  1998/03/29    03:52           14000          7000
13   1998/04/20      10:25  1998/04/22    06:00           10000            35
14   1998/04/23      06:00  1998/04/23    15:30           14000           200
15   1998/04/24      09:17  1998/04/24    09:25            4700          2600
16   1998/04/27      09:20  1998/04/27    10:00           10000          1000
17   1998/04/29      16:30  1998/04/29    17:00           10000          2000
18   1998/05/02      14:25  1998/05/02    14:50            5000          3000
19   1998/05/06      08:25  1998/05/06    08:35           14000          5000
20   1998/05/09      03:35  1998/05/09    10:00            9000           400
21   1998/05/11      21:40  1998/05/11    22:00           10000          1000
22   1998/05/19      10:00  1998/05/19    11:30           14000          3000
23   1998/05/27      13:30  1998/05/27    14:20            4000          1000
24   1998/06/11      10:15  1998/06/11    10:20            8000          4000
25   1998/06/16      18:20  1998/06/17    21:00           12000            50
26   1998/06/20      19:39  1998/06/20    20:00            2600          1800
27   1998/06/22      07:15  1998/06/22    09:20            6000          2000
28   1998/11/02      14:00  1998/11/02    14:40           14000          4000
29   1998/11/05      22:00  1998/11/07    08:00            5000            50
..          ...        ...         ...      ...             ...           ...
488  2015/05/12      03:00  2015/05/12    03:04           14000          6400
489  2015/06/09      20:23  2015/06/09    22:35            2300           200
490  2015/06/14      05:26  2015/06/14    05:41            3000          1250
491  2015/06/18      17:42  2015/06/18    19:40            3700           500
492  2015/06/21      02:33  2015/06/21    21:20            5500           150
493  2015/06/22      18:20  2015/06/22    21:55           14000           300
494  2015/06/25      08:35  2015/06/25    16:30           14000           150
495  2015/07/01      16:08  2015/07/01    20:47            1000           150
496  2015/08/22      07:07  2015/08/22    07:18           14000          7300
497  2015/09/18      04:54  2015/09/18    09:52           14000           400
498  2015/09/20      18:23  2015/09/21    01:46           14000           300
499  2015/11/04      14:07  2015/11/04    15:14           14000           440
500  2015/11/09      13:21  2015/11/09    13:27           14000          9000
501  2015/12/16      08:45  2015/12/16    08:57            5300          3800
502  2015/12/23      01:18  2015/12/23    01:23           12000          6700
503  2015/12/28      11:50  2015/12/28    21:45           14000           180
504  2016/01/02      00:55  2016/01/02    03:08            1100           300
505  2016/02/05      20:28  2016/02/05    23:31            1650           500
506  2016/02/05      22:35  2016/02/05    22:55            5200          1900
507  2016/05/04      14:20  2016/05/04    14:34           14000         10500
508  2016/05/24      17:00  2016/05/24    20:50            1500           700
509  2016/08/15      18:21  2016/08/15    18:28           11000          3400
510  2017/04/23      06:00  2017/04/23    06:13           15000          8300
511  2017/07/14      01:18  2017/07/14    21:30           14000            70
512  2017/07/23      05:27  2017/07/23    06:12            4400           900
513  2017/09/04      20:27  2017/09/05    04:54           14000           210
514  2017/09/06      12:05  2017/09/07    08:00           16000            70
515  2017/09/10      16:02  2017/09/11    06:50           16000           150
516  2017/09/12      07:38  2017/09/12    07:43           16000         13000
517  2017/09/17      11:45  2017/09/17    12:35           16000           900

    Flare_Location Flare_Region Importance    CME_Date CME_Time   CPA Width  \
0           S25E16         8026       M1.3  1997/04/01    15:18    74    79
1           S28E19         8027       C6.8  1997/04/07    14:27  Halo   360
2           N21W08         8038       C1.3  1997/05/12    05:30  Halo   360
3           N05W12         8040       M1.3  1997/05/21    21:00   263   165
4           S29E25         8088       C1.4  1997/09/23    22:02   133   155
5           S20W13         8100       C8.6  1997/11/03    05:28   240   109
6           S16W21         8100       M4.2  1997/11/03    11:11   233   122
7           S14W33         8100       X2.1  1997/11/04    06:10  Halo   360
8           S18W63         8100       X9.4  1997/11/06    12:10  Halo   360
9           N17E63         8113       X2.6  1997/11/27    13:56    98    91
10          N25W52         8116       B9.4  1997/12/13    00:26   278    73
11          N21E25         8141       C1.1  1998/01/25    15:26  Halo   360
12            SW90        -----       ----  1998/03/29    03:48  Halo   360
13          S22W90         8194       M1.4  1998/04/20    10:07   284   165
14          S17E90         8210       X1.2  1998/04/23    05:55  Halo   360
15          S20E90         8210       C8.9  1998/04/24    08:55   100    84
16          S16E50         8210       X1.0  1998/04/27    08:56  Halo   360
17          S18E20         8210       M6.8  1998/04/29    16:58  Halo   360
18          S15W15         8210       X1.1  1998/05/02    14:06  Halo   360
19          S11W65         8210       X2.7  1998/05/06    08:29   309   190
20          S14W89         8210       M7.7  1998/05/09    03:35   262   178
21          N32W90         8214       B6.6  1998/05/11    21:55   208  >301
22          N23W43         8222       B5.7  1998/05/19    10:27   268   139
23          N19W62         8226       C7.5  1998/05/27    13:45   175   268
24          N16E86         8243       M1.4  1998/06/11    10:28   123   177
25          S22W90         8232       M1.0  1998/06/16    18:27   341   281
26            BACK        -----       ----  1998/06/20    18:20  Halo   360
27          N16W46         8243       C2.9  1998/06/22    05:01   265    59
28          S25E44         8373       C4.4  1998/11/02    14:18   116   169
29          N22W18         8375       M8.4  1998/11/05    20:44  Halo   360
..             ...          ...        ...         ...      ...   ...   ...
488           W90b        -----       ----  2015/05/12    02:48   286   250
489         S03E25        12364       C2.8  2015/06/09    20:12    77   262
490         S12W34        12365       C5.9  2015/06/14    04:12   199   195
491         N15E50        12371       M3.0  2015/06/18    17:24  Halo   360
492         N12E16        12371       M2.0  2015/06/21    02:36  Halo   360
493         N12W08        12371       M6.5  2015/06/22    18:36  Halo   360
494         N09W42        12371       M7.9  2015/06/25    08:36  Halo   360
495           W90b        -----       ----  2015/07/01    14:36  Halo   360
496         S15E13        12403       M1.2  2015/08/22    07:12  Halo   360
497         S21W10        12415       C2.6  2015/09/18    05:00   201   131
498         S20W24        12415       M2.1  2015/09/20    18:12  Halo   360
499         N09W04        12443       M3.7  2015/11/04    14:48  Halo   360
500         S11E41        12449       M3.9  2015/11/09    13:25   142   273
501         S13W04        12468       C6.6  2015/12/16    09:36  Halo   360
502         S22E63        12473       M4.7  2015/12/23    01:25    98    89
503         S23W11        12473       M1.8  2015/12/28    12:12  Halo   360
504         S25W82        12473       M2.3  2016/01/01    23:24  Halo   360
505         ------        -----       ----  2016/--/--    --:--  ----   ---
506         S17W29        -----       ----  2016/02/05    21:24   193   155
507         N06W61        12535       C1.3  2016/05/04    14:12   255   134
508         ------        -----       ----  2016/--/--    --:--  ----   ---
509           E90b        -----       ----  2016/08/15    17:24    75    98
510         N16E41        -----       ----  2017/04/23    06:00    85    77
511         S06W29        12665       M2.4  2017/07/14    01:25  Halo   360
512           BACK        -----       ----  2017/07/23    04:48  Halo   360
513         S10W12        12673       M5.5  2017/09/04    20:12  Halo   360
514         S08W33        12673       X9.3  2017/09/06    12:24  Halo   360
515         S09W92        -----       X8.3  2017/09/10    16:00  Halo   360
516         N08E48        12680       C3.0  2017/09/12    08:03   124    96
517        S08E170   ----------      09/17  2017/12:00     Halo   360  1385

    Speed   Plots
0     312    PHTX
1     878    PHTX
2     464    PHTX
3     296    PHTX
4     712    PHTX
5     227    PHTX
6     352    PHTX
7     785    PHTX
8    1556    PHTX
9     441    PHTX
10    191    PHTX
11    693    PHTX
12   1397    PHTX
13   1863    PHTX
14   1691    PHTX
15   1184    PHTX
16   1385    PHTX
17   1374    PHTX
18    938    PHTX
19   1099    PHTX
20   2331    PHTX
21    830    PHTX
22    801    PHTX
23    878    PHTX
24   1223    PHTX
25   1484    PHTX
26    964    PHTX
27    206    PHTX
28    661    PHTX
29   1118    PHTX
..    ...     ...
488   772    PHTX
489  1036    PHTX
490  1228    PHTX
491  1305    PHTX
492  1366    PHTX
493  1209    PHTX
494  1627    PHTX
495  1435    PHTX
496   547    PHTX
497   823    PHTX
498  1239    PHTX
499   578    PHTX
500  1041    PHTX
501   579    PHTX
502   520    PHTX
503  1212    PHTX
504  1730    PHTX
505  ----    PHTX
506   445    PHTX
507   390    PHTX
508  ----    PHTX
509   633    PHTX
510   955    PHTX
511  1200    PHTX
512  1848    PHTX
513  1418    PHTX
514  1571    PHTX
515  3163    PHTX
516   252    PHTX
517  PHTX  STEREO

[518 rows x 15 columns]

In [67]:
# Step 4  Tidy the NASA table  
# We Check here if threre is Any Nan Values in Pandas Or Not 
# print(nasa_frame.isnull().values.any())  
# the Answer Was False as there Is No Nan Values Here All Are Ready and Encoded  

# Make New Column at The Data Frame Called is_halo with initial values of CPA vlaues 
nasa_frame["is_halo"] = nasa_frame["CPA"] 
# Get the Index Of Column of 
idx_cpa =  nasa_frame.columns.get_loc("CPA")
idx_is_halo =  nasa_frame.columns.get_loc("is_halo")
# Loop On This Column using Length 
for i in range(len(nasa_frame["is_halo"])): 
    # If the Value is Not Halo then Make It False (as String)
    if nasa_frame.iat[i, idx_is_halo] != "Halo":
        nasa_frame.iat[i, idx_is_halo] = "Flase" 
    # That Means It Is Halo (True As String)
    else: 
        nasa_frame.iat[i, idx_is_halo] = "True" 
        nasa_frame.iat[i, idx_cpa] = "NaN" # Replace the Main Column CPA with None Value as string
        
        
# Create New Column Called is_lower_bound with initial Value That is the Width Column 
nasa_frame["is_lower_bound"] = nasa_frame["Width"]  
# Get the Index Of Column of 
idx_width =  nasa_frame.columns.get_loc("Width")
idx_is_lower_bound =  nasa_frame.columns.get_loc("is_lower_bound")  
for i in range(len(nasa_frame["is_lower_bound"])): 
    # get the number as string from the Cell 
    cell_value = nasa_frame.iat[i, idx_is_lower_bound] 
    # If It is Not Lower Bound Make The Value with True in the Column
    if cell_value[0] != '>': 
        nasa_frame.iat[i, idx_is_lower_bound] = "False" 
    # That Means It's True (Lower Bound)
    else:
        nasa_frame.iat[i, idx_is_lower_bound] = "True" 
        new_cell_value =  cell_value[1:] # the number with out >  
        nasa_frame.iat[i, idx_width] = new_cell_value
        
# There is problems in the End Date and the CME Date -> Some Times are 24:00 we will replace it with 00:00  
nasa_frame["End_Time"] = nasa_frame["End_Time"].replace(["24:00"], "00:00")
nasa_frame["CME_Time"] = nasa_frame["CME_Time"].replace(["24:00"], "00:00")

# Another Problem That the CME Date and Time  Has --:-- and ----/--/-- so we will do it manully    
nasa_frame["CME_DateTime"] = nasa_frame["CME_Time"] 

# Get index of the column of end_time, end_date and end_datetime 
idx_time = nasa_frame.columns.get_loc("CME_Time")
idx_date = nasa_frame.columns.get_loc("CME_Date")
idx_date_time = nasa_frame.columns.get_loc("CME_DateTime")
for i in range(len(nasa_frame["CME_Time"]) - 1):
    # First Get the date years-months-days 
    get_date_data = str(nasa_frame.iat[i, idx_date]).split("/") 
    # make the value as  years-mohts-days HH:MM
    time_date = str(nasa_frame.iat[i, idx_time])
    column_value = get_date_data[0] + "-" + get_date_data[1] + "-" + get_date_data[2]+ " " + time_date + ":00"
    nasa_frame.iat[i, idx_date_time] = column_value

# Now We Need To Combine Date and Time of (start, end, and CME ) with respect to date time type 
nasa_frame["Start_DateTime"] = pd.to_datetime(nasa_frame["Start_Date"] + "-" + nasa_frame["Start_Time"]) 
nasa_frame["End_DateTime"] = pd.to_datetime(nasa_frame["End_Date"] + "-" + nasa_frame["End_Time"])  


    
# Then Drop the colums Of All Start , end, And CME DAte and Time (No Need Any More) 
nasa_frame.drop(['Start_Date', 'Start_Time', 'End_Date', 'End_Time', 'CME_Date', 'CME_Time'], axis=1, inplace=True) 
print(nasa_frame)

    Start_Frequency End_Frequency Flare_Location Flare_Region Importance  \
0              8000          4000         S25E16         8026       M1.3
1             11000          1000         S28E19         8027       C6.8
2             12000            80         N21W08         8038       C1.3
3              5000           500         N05W12         8040       M1.3
4              6000          2000         S29E25         8088       C1.4
5             14000           250         S20W13         8100       C8.6
6             14000          5000         S16W21         8100       M4.2
7             14000           100         S14W33         8100       X2.1
8             14000           100         S18W63         8100       X9.4
9             14000          7000         N17E63         8113       X2.6
10            14000          8000         N25W52         8116       B9.4
11            14000         10000         N21E25         8141       C1.1
12            14000          7000           SW90        -----       ----
13            10000            35         S22W90         8194       M1.4
14            14000           200         S17E90         8210       X1.2
15             4700          2600         S20E90         8210       C8.9
16            10000          1000         S16E50         8210       X1.0
17            10000          2000         S18E20         8210       M6.8
18             5000          3000         S15W15         8210       X1.1
19            14000          5000         S11W65         8210       X2.7
20             9000           400         S14W89         8210       M7.7
21            10000          1000         N32W90         8214       B6.6
22            14000          3000         N23W43         8222       B5.7
23             4000          1000         N19W62         8226       C7.5
24             8000          4000         N16E86         8243       M1.4
25            12000            50         S22W90         8232       M1.0
26             2600          1800           BACK        -----       ----
27             6000          2000         N16W46         8243       C2.9
28            14000          4000         S25E44         8373       C4.4
29             5000            50         N22W18         8375       M8.4
..              ...           ...            ...          ...        ...
488           14000          6400           W90b        -----       ----
489            2300           200         S03E25        12364       C2.8
490            3000          1250         S12W34        12365       C5.9
491            3700           500         N15E50        12371       M3.0
492            5500           150         N12E16        12371       M2.0
493           14000           300         N12W08        12371       M6.5
494           14000           150         N09W42        12371       M7.9
495            1000           150           W90b        -----       ----
496           14000          7300         S15E13        12403       M1.2
497           14000           400         S21W10        12415       C2.6
498           14000           300         S20W24        12415       M2.1
499           14000           440         N09W04        12443       M3.7
500           14000          9000         S11E41        12449       M3.9
501            5300          3800         S13W04        12468       C6.6
502           12000          6700         S22E63        12473       M4.7
503           14000           180         S23W11        12473       M1.8
504            1100           300         S25W82        12473       M2.3
505            1650           500         ------        -----       ----
506            5200          1900         S17W29        -----       ----
507           14000         10500         N06W61        12535       C1.3
508            1500           700         ------        -----       ----
509           11000          3400           E90b        -----       ----
510           15000          8300         N16E41        -----       ----
511           14000            70         S06W29        12665       M2.4
512            4400           900           BACK        -----       ----
513           14000           210         S10W12        12673       M5.5
514           16000            70         S08W33        12673       X9.3
515           16000           150         S09W92        -----       X8.3
516           16000         13000         N08E48        12680       C3.0
517           16000           900        S08E170   ----------      09/17

      CPA Width Speed   Plots is_halo is_lower_bound         CME_DateTime  \
0      74    79   312    PHTX   Flase          False  1997-04-01 15:18:00
1     NaN   360   878    PHTX    True          False  1997-04-07 14:27:00
2     NaN   360   464    PHTX    True          False  1997-05-12 05:30:00
3     263   165   296    PHTX   Flase          False  1997-05-21 21:00:00
4     133   155   712    PHTX   Flase          False  1997-09-23 22:02:00
5     240   109   227    PHTX   Flase          False  1997-11-03 05:28:00
6     233   122   352    PHTX   Flase          False  1997-11-03 11:11:00
7     NaN   360   785    PHTX    True          False  1997-11-04 06:10:00
8     NaN   360  1556    PHTX    True          False  1997-11-06 12:10:00
9      98    91   441    PHTX   Flase          False  1997-11-27 13:56:00
10    278    73   191    PHTX   Flase          False  1997-12-13 00:26:00
11    NaN   360   693    PHTX    True          False  1998-01-25 15:26:00
12    NaN   360  1397    PHTX    True          False  1998-03-29 03:48:00
13    284   165  1863    PHTX   Flase          False  1998-04-20 10:07:00
14    NaN   360  1691    PHTX    True          False  1998-04-23 05:55:00
15    100    84  1184    PHTX   Flase          False  1998-04-24 08:55:00
16    NaN   360  1385    PHTX    True          False  1998-04-27 08:56:00
17    NaN   360  1374    PHTX    True          False  1998-04-29 16:58:00
18    NaN   360   938    PHTX    True          False  1998-05-02 14:06:00
19    309   190  1099    PHTX   Flase          False  1998-05-06 08:29:00
20    262   178  2331    PHTX   Flase          False  1998-05-09 03:35:00
21    208   301   830    PHTX   Flase           True  1998-05-11 21:55:00
22    268   139   801    PHTX   Flase          False  1998-05-19 10:27:00
23    175   268   878    PHTX   Flase          False  1998-05-27 13:45:00
24    123   177  1223    PHTX   Flase          False  1998-06-11 10:28:00
25    341   281  1484    PHTX   Flase          False  1998-06-16 18:27:00
26    NaN   360   964    PHTX    True          False  1998-06-20 18:20:00
27    265    59   206    PHTX   Flase          False  1998-06-22 05:01:00
28    116   169   661    PHTX   Flase          False  1998-11-02 14:18:00
29    NaN   360  1118    PHTX    True          False  1998-11-05 20:44:00
..    ...   ...   ...     ...     ...            ...                  ...
488   286   250   772    PHTX   Flase          False  2015-05-12 02:48:00
489    77   262  1036    PHTX   Flase          False  2015-06-09 20:12:00
490   199   195  1228    PHTX   Flase          False  2015-06-14 04:12:00
491   NaN   360  1305    PHTX    True          False  2015-06-18 17:24:00
492   NaN   360  1366    PHTX    True          False  2015-06-21 02:36:00
493   NaN   360  1209    PHTX    True          False  2015-06-22 18:36:00
494   NaN   360  1627    PHTX    True          False  2015-06-25 08:36:00
495   NaN   360  1435    PHTX    True          False  2015-07-01 14:36:00
496   NaN   360   547    PHTX    True          False  2015-08-22 07:12:00
497   201   131   823    PHTX   Flase          False  2015-09-18 05:00:00
498   NaN   360  1239    PHTX    True          False  2015-09-20 18:12:00
499   NaN   360   578    PHTX    True          False  2015-11-04 14:48:00
500   142   273  1041    PHTX   Flase          False  2015-11-09 13:25:00
501   NaN   360   579    PHTX    True          False  2015-12-16 09:36:00
502    98    89   520    PHTX   Flase          False  2015-12-23 01:25:00
503   NaN   360  1212    PHTX    True          False  2015-12-28 12:12:00
504   NaN   360  1730    PHTX    True          False  2016-01-01 23:24:00
505  ----   ---  ----    PHTX   Flase          False  2016------ --:--:00
506   193   155   445    PHTX   Flase          False  2016-02-05 21:24:00
507   255   134   390    PHTX   Flase          False  2016-05-04 14:12:00
508  ----   ---  ----    PHTX   Flase          False  2016------ --:--:00
509    75    98   633    PHTX   Flase          False  2016-08-15 17:24:00
510    85    77   955    PHTX   Flase          False  2017-04-23 06:00:00
511   NaN   360  1200    PHTX    True          False  2017-07-14 01:25:00
512   NaN   360  1848    PHTX    True          False  2017-07-23 04:48:00
513   NaN   360  1418    PHTX    True          False  2017-09-04 20:12:00
514   NaN   360  1571    PHTX    True          False  2017-09-06 12:24:00
515   NaN   360  3163    PHTX    True          False  2017-09-10 16:00:00
516   124    96   252    PHTX   Flase          False  2017-09-12 08:03:00
517   360  1385  PHTX  STEREO   Flase          False                 Halo

         Start_DateTime        End_DateTime
0   1997-04-01 14:00:00 1997-04-01 14:15:00
1   1997-04-07 14:30:00 1997-04-07 17:30:00
2   1997-05-12 05:15:00 1997-05-14 16:00:00
3   1997-05-21 20:20:00 1997-05-21 22:00:00
4   1997-09-23 21:53:00 1997-09-23 22:16:00
5   1997-11-03 05:15:00 1997-11-03 12:00:00
6   1997-11-03 10:30:00 1997-11-03 11:30:00
7   1997-11-04 06:00:00 1997-11-05 04:30:00
8   1997-11-06 12:20:00 1997-11-07 08:30:00
9   1997-11-27 13:30:00 1997-11-27 14:00:00
10  1997-12-12 22:45:00 1997-12-12 23:20:00
11  1998-01-25 15:03:00 1998-01-25 15:18:00
12  1998-03-29 03:40:00 1998-03-29 03:52:00
13  1998-04-20 10:25:00 1998-04-22 06:00:00
14  1998-04-23 06:00:00 1998-04-23 15:30:00
15  1998-04-24 09:17:00 1998-04-24 09:25:00
16  1998-04-27 09:20:00 1998-04-27 10:00:00
17  1998-04-29 16:30:00 1998-04-29 17:00:00
18  1998-05-02 14:25:00 1998-05-02 14:50:00
19  1998-05-06 08:25:00 1998-05-06 08:35:00
20  1998-05-09 03:35:00 1998-05-09 10:00:00
21  1998-05-11 21:40:00 1998-05-11 22:00:00
22  1998-05-19 10:00:00 1998-05-19 11:30:00
23  1998-05-27 13:30:00 1998-05-27 14:20:00
24  1998-06-11 10:15:00 1998-06-11 10:20:00
25  1998-06-16 18:20:00 1998-06-17 21:00:00
26  1998-06-20 19:39:00 1998-06-20 20:00:00
27  1998-06-22 07:15:00 1998-06-22 09:20:00
28  1998-11-02 14:00:00 1998-11-02 14:40:00
29  1998-11-05 22:00:00 1998-11-07 08:00:00
..                  ...                 ...
488 2015-05-12 03:00:00 2015-05-12 03:04:00
489 2015-06-09 20:23:00 2015-06-09 22:35:00
490 2015-06-14 05:26:00 2015-06-14 05:41:00
491 2015-06-18 17:42:00 2015-06-18 19:40:00
492 2015-06-21 02:33:00 2015-06-21 21:20:00
493 2015-06-22 18:20:00 2015-06-22 21:55:00
494 2015-06-25 08:35:00 2015-06-25 16:30:00
495 2015-07-01 16:08:00 2015-07-01 20:47:00
496 2015-08-22 07:07:00 2015-08-22 07:18:00
497 2015-09-18 04:54:00 2015-09-18 09:52:00
498 2015-09-20 18:23:00 2015-09-21 01:46:00
499 2015-11-04 14:07:00 2015-11-04 15:14:00
500 2015-11-09 13:21:00 2015-11-09 13:27:00
501 2015-12-16 08:45:00 2015-12-16 08:57:00
502 2015-12-23 01:18:00 2015-12-23 01:23:00
503 2015-12-28 11:50:00 2015-12-28 21:45:00
504 2016-01-02 00:55:00 2016-01-02 03:08:00
505 2016-02-05 20:28:00 2016-02-05 23:31:00
506 2016-02-05 22:35:00 2016-02-05 22:55:00
507 2016-05-04 14:20:00 2016-05-04 14:34:00
508 2016-05-24 17:00:00 2016-05-24 20:50:00
509 2016-08-15 18:21:00 2016-08-15 18:28:00
510 2017-04-23 06:00:00 2017-04-23 06:13:00
511 2017-07-14 01:18:00 2017-07-14 21:30:00
512 2017-07-23 05:27:00 2017-07-23 06:12:00
513 2017-09-04 20:27:00 2017-09-05 04:54:00
514 2017-09-06 12:05:00 2017-09-07 08:00:00
515 2017-09-10 16:02:00 2017-09-11 06:50:00
516 2017-09-12 07:38:00 2017-09-12 07:43:00
517 2017-09-17 11:45:00 2017-09-17 12:35:00

[518 rows x 14 columns]

In [7]:
# Step 2 In the Project the Analysis 
# Answer For The Three Questions
# question 1 : No as 
# In the First Data Frame We have the DAta of 50 the second one we will take the top 50 and check if all the Importance is 
# Xor not and not all Contains That X